body{
    background-color: rgb(255, 255, 255);
}

#container{
    width: 100%;
    position: relative;
    top: 50px;
    height: 500px;
    background-color: rgb(173, 173, 201);
    left: 20px;
    right: 20px;
}

#container #btn{

    height: 50px;
    width: 100px;
    border-radius: 5px;
    top: 50px;
    left: 650px;
    bottom: 50px;
    position: relative;
    margin: 50px;
    text-decoration: none;
    font-size: 20px;
}
h1{
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}